@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Razor Pages Movie List</h1>
    <p>by Nicoara Valeriu Danci </p>
</div>
